@import "../globals.scss";


.MealDisplay {
    padding-bottom: 3rem;
}

.loaderContainer {
    @include flex-center;
    padding: 10rem 0;
}

.errorContainer {
    @include flex-center;
    flex-direction: column;
    padding: 2rem 0 4rem;

    p {
        color: $purple-mid;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

.mealCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media(max-width: 1250px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 570px) {
        grid-template-columns: repeat((1, 1fr));
    }
}

.mealCard {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
    background-color: $gray;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;

    &:hover img{
        scale: 1.08;
    }

    &:hover h1 {
        transform: translateY(100%);
    }

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        transition: scale 0.3s ease;
    }

    h1 {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        background-color: $gray;
        width: 100%;
        padding: 1rem 0 1rem 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: $navy;
        transition: transform 0.3s ease;

        @media(max-width: 425px) {
            font-size: 1rem;
            padding: 0.8rem 0 0.8rem 0.5rem;
        }
    }
}

.loadMoreButton {
    width: 100%;
    background-color: $purple-mid;
    color: $white;
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem 0;
    margin-top: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #4d4b7c;
    }
}


// CSS Loader

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: $gold #0000;
    animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: $purple-mid #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}